# WEB SCRAPING ASSIGNMENT-2

Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\programdata\anaconda3\lib\site-packages (4.1.5)
Requirement already satisfied: trio~=0.17 in c:\programdata\anaconda3\lib\site-packages (from selenium) (0.20.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\programdata\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: attrs>=19.2.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: async-generator>=1.9 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: outcome in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\programdata\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (21.0.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.8)
Requirement already satisfied: certifi in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: six>=1.5.2 in c:\programdata\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.16.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\programdata\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [2]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
import time

In [11]:
driver=webdriver.Chrome(r"C:\webdriver\Chromedriver.exe")

In [16]:
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [18]:
driver.get("https://www.naukri.com/")

In [23]:
search_field_designation=driver.find_element_by_class_name("suggestor-input ")
search_field_designation.send_keys("Data Analyst")

In [24]:
search_field_designation=driver.find_element_by_class_name("suggestor-input ")
search_field_designation.send_keys("Bangalore")

In [25]:
search_field_location=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input")
search_field_location.send_keys("Bangalore")

In [26]:
search_button=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
search_button.click()

In [46]:
job_titles=[]
company_names=[]
locations=[]
experience_list=[]

In [47]:
titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles_tags[:10]

In [48]:
for i in titles_tags:
    title=i.text
    job_titles.append(title)
job_titles[:10]

['Lead Data Analyst']

In [49]:
companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies_tags[:10]

In [50]:
for i in companies_tags:
    company_name=i.text
    company_names.append(company_name)
company_names[:10]

['Zilingo.com']

In [51]:
experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
experience_tags[:10]

In [52]:
for i in experience_tags:
    experience=i.text
    experience_list.append(experience)
experience_list[:10]

['2-5 Yrs']

In [53]:
locations_tags=driver=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
locations_tags[:10]

In [54]:
for i in locations_tags:
    location=i.text
    locations.append(location)
locations[:10]

['Bangalore/Bengaluru']

In [55]:
jobs=pd.DataFrame({})
jobs['title']=job_titles
jobs['company']=company_names
jobs['experience_required']=experience_list
jobs['location']=locations

In [56]:
jobs

               title      company experience_required             location
0  Lead Data Analyst  Zilingo.com             2-5 Yrs  Bangalore/Bengaluru

Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [57]:
!pip install selenium

Requirement already satisfied: selenium in c:\programdata\anaconda3\lib\site-packages (4.1.5)
Requirement already satisfied: trio~=0.17 in c:\programdata\anaconda3\lib\site-packages (from selenium) (0.20.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\programdata\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: attrs>=19.2.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: outcome in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\programdata\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (21.0.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.8)
Requirement already satisfied: certifi in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: six>=1.5.2 in c:\programdata\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.16.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\programdata\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [58]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
import time

In [59]:
driver=webdriver.Chrome(r"C:\webdriver\Chromedriver.exe")

In [60]:
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [61]:
driver.get("https://www.naukri.com/")

In [84]:
search_field_designation=driver.find_element_by_class_name("suggestor-input ")
search_field_designation.send_keys("Data Scientist")

In [81]:
search_field_designation=driver.find_element_by_class_name("suggestor-input ")
search_field_designation.send_keys("Bangalore")

In [85]:
search_field_location=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input")
search_field_location.send_keys("Bangalore")

In [86]:
search_button=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
search_button.click()

In [87]:
job_titles=[]
company_names=[]
locations=[]
experience_list=[]

In [88]:
titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles_tags[:10]

[<selenium.webdriver.remote.webelement.WebElement (session="2fdceab805eeec3584f0587347e1f09e", element="986e4a6f-fe1d-447b-9770-518c00e5679f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2fdceab805eeec3584f0587347e1f09e", element="3aacc256-eeb6-4128-ab76-b57b1123c630")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2fdceab805eeec3584f0587347e1f09e", element="66ca3523-7274-4011-88c1-7ac80cb2310f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2fdceab805eeec3584f0587347e1f09e", element="e4f82c67-6c8d-4f3c-93e6-5f7bf1439a04")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2fdceab805eeec3584f0587347e1f09e", element="fc22daff-211c-4282-b807-969529ad1833")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2fdceab805eeec3584f0587347e1f09e", element="e36f1d3c-d50f-49c5-952a-fd0b2eff7102")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2fdceab805eeec3584f0587347e1f09e", element="623695d0-9266-4349-981e-379051a3dc02")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2fdceab805eeec3584f0587347e1f09e", element="e42a843d-dab2-442b-a479-9867087b33ce")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2fdceab805eeec3584f0587347e1f09e", element="8349a82b-c0d6-42a7-8b58-1c788c341751")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2fdceab805eeec3584f0587347e1f09e", element="f4c2a7bf-9ed2-4f51-aedd-58560f693f90")>]

In [89]:
for i in titles_tags:
    title=i.text
    job_titles.append(title)
job_titles[:10]

['Senior Data Scientist',
 'Sr. Analyst - Applied Data Scientist',
 'Applied Data Scientist / ML Senior Engineer (Python / SQL)',
 'Data Scientist',
 'Expert Data Scientist',
 'Principal Data Scientist',
 'Analyst - Applied Data Scientist',
 'Research Data Scientist',
 'Senior Data Scientist Grade12',
 'Senior Data Scientist Grade12']

In [90]:
companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies_tags[:10]

[<selenium.webdriver.remote.webelement.WebElement (session="2fdceab805eeec3584f0587347e1f09e", element="a0018f3c-912d-47f5-9a8e-c6d20d05e7f2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2fdceab805eeec3584f0587347e1f09e", element="345a5ba6-fa51-4478-9388-0c4c82aace80")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2fdceab805eeec3584f0587347e1f09e", element="8228bb49-6a4c-4bdb-8bde-b8a998494ebc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2fdceab805eeec3584f0587347e1f09e", element="f12becc2-f33b-478d-a42c-7d8516529448")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2fdceab805eeec3584f0587347e1f09e", element="66d86efb-36ea-4ed5-97b2-ba0060d24482")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2fdceab805eeec3584f0587347e1f09e", element="b4d77b8b-e2d4-414d-9eab-84ed042a497a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2fdceab805eeec3584f0587347e1f09e", element="bf7ea3b6-acd4-4787-bcc7-8098881263c1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2fdceab805eeec3584f0587347e1f09e", element="9e2a9cf4-3f08-41ca-ac42-24090fe258f2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2fdceab805eeec3584f0587347e1f09e", element="c9eb8f71-be8b-4c52-9f3f-0f6f001f2749")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2fdceab805eeec3584f0587347e1f09e", element="8e0e81d5-1f0b-44bf-93c3-83bb96750b7b")>]

In [91]:
for i in companies_tags:
    company_name=i.text
    company_names.append(company_name)
company_names[:10]

['UPL',
 'Tesco',
 'SAP India Pvt.Ltd',
 'UPL',
 'UPL',
 'UPL',
 'Tesco',
 'Mavenir',
 'Flipkart',
 'Flipkart']

In [92]:
experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
experience_tags[:10]

[<selenium.webdriver.remote.webelement.WebElement (session="2fdceab805eeec3584f0587347e1f09e", element="02a1706e-6105-45ba-b095-015dc9022005")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2fdceab805eeec3584f0587347e1f09e", element="05aa9d8a-4488-466d-a443-ba8cfa0dc7ee")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2fdceab805eeec3584f0587347e1f09e", element="3ec2d01a-b322-490c-8e01-86c560699878")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2fdceab805eeec3584f0587347e1f09e", element="83ee0a3a-db15-4ab3-8c6f-7e04fee76668")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2fdceab805eeec3584f0587347e1f09e", element="8ba1c9c0-ca7e-4b9b-859c-69ee2605737e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2fdceab805eeec3584f0587347e1f09e", element="0b4ae5c7-2436-4bb1-8777-48edd0775076")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2fdceab805eeec3584f0587347e1f09e", element="6b3f820c-e4bc-4abe-bcbb-816ea48d47af")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2fdceab805eeec3584f0587347e1f09e", element="1e2d4595-454a-4a83-8f3e-6bffef4a5949")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2fdceab805eeec3584f0587347e1f09e", element="9ab28560-f2c3-4a43-a61d-ad40414fd5b8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2fdceab805eeec3584f0587347e1f09e", element="ff21c173-1f63-494d-835a-4192512b005b")>]

In [93]:
for i in experience_tags:
    experience=i.text
    experience_list.append(experience)
experience_list[:10]

['3-6 Yrs',
 '3-5 Yrs',
 '5-10 Yrs',
 '1-4 Yrs',
 '6-9 Yrs',
 '12-16 Yrs',
 '1-2 Yrs',
 '4-9 Yrs',
 '5-10 Yrs',
 '5-7 Yrs']

In [94]:
locations_tags=driver=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
locations_tags[:10]

[<selenium.webdriver.remote.webelement.WebElement (session="2fdceab805eeec3584f0587347e1f09e", element="3986176e-adb2-48f2-9eab-c894ce987a4e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2fdceab805eeec3584f0587347e1f09e", element="25045637-4919-4b18-be2d-d925e0d2a037")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2fdceab805eeec3584f0587347e1f09e", element="7fa87d20-b15e-4971-8f2a-452688c4346d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2fdceab805eeec3584f0587347e1f09e", element="f73932c8-7850-436e-8ddc-d464f2bb12bb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2fdceab805eeec3584f0587347e1f09e", element="194c893d-3d23-49ca-94d5-24898614c52f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2fdceab805eeec3584f0587347e1f09e", element="ae8131da-412a-4c67-b9e3-b1613d4ef1c6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2fdceab805eeec3584f0587347e1f09e", element="a333e8bc-3d7d-4c4d-adb5-e02f6c9d67b4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2fdceab805eeec3584f0587347e1f09e", element="b370edc0-e8a4-47dd-9a42-c75d6616cfcb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2fdceab805eeec3584f0587347e1f09e", element="c2269094-c1cc-4f3a-9572-7c9a177889ab")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2fdceab805eeec3584f0587347e1f09e", element="aee5cf03-1ef7-476b-a143-ec515557cf3d")>]

In [95]:
for i in locations_tags:
    location=i.text
    locations.append(location)
locations[:10]

['Bangalore/Bengaluru, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Mumbai (All Areas)',
 'Bangalore/Bengaluru, Mumbai (All Areas)',
 'Bangalore/Bengaluru, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [96]:
jobs=pd.DataFrame({})
jobs['title']=job_titles
jobs['company']=company_names
jobs['experience_required']=experience_list
jobs['location']=locations

In [97]:
jobs

,title,company,experience_required,location
0,Senior Data Scientist,UPL,3-6 Yrs,"Bangalore/Bengaluru, Mumbai (All Areas)"
1,Sr. Analyst - Applied Data Scientist,Tesco,3-5 Yrs,Bangalore/Bengaluru
2,Applied Data Scientist / ML Senior Engineer (P...,SAP India Pvt.Ltd,5-10 Yrs,Bangalore/Bengaluru
3,Data Scientist,UPL,1-4 Yrs,"Bangalore/Bengaluru, Mumbai (All Areas)"
4,Expert Data Scientist,UPL,6-9 Yrs,"Bangalore/Bengaluru, Mumbai (All Areas)"
5,Principal Data Scientist,UPL,12-16 Yrs,"Bangalore/Bengaluru, Mumbai (All Areas)"
6,Analyst - Applied Data Scientist,Tesco,1-2 Yrs,Bangalore/Bengaluru
7,Research Data Scientist,Mavenir,4-9 Yrs,Bangalore/Bengaluru
8,Senior Data Scientist Grade12,Flipkart,5-10 Yrs,Bangalore/Bengaluru
9,Senior Data Scientist Grade12,Flipkart,5-7 Yrs,Bangalore/Bengaluru
10,Assistant Manager/Manager/Senior Manager - Dat...,Huquo Consulting Pvt. Ltd,2-7 Yrs,"Gurgaon/Gurugram, Bangalore/Bengaluru"
11,Data Scientist / Machine learning Engineer- Py...,Leading US MNC into Analytics,2-7 Yrs,"Gurgaon/Gurugram, Bangalore/Bengaluru, Delhi /..."
12,Data Scientist: Advanced Analytics,IBM,3-7 Yrs,Bangalore/Bengaluru
13,Data Scientist: Advanced Analytics,IBM,2-5 Yrs,Bangalore/Bengaluru
14,Data Scientist: Advanced Analytics,IBM,5-7 Yrs,Bengaluru/Bangalore
15,Data Scientist,Genpact,5-8 Yrs,"Hyderabad/Secunderabad, Bangalore/Bengaluru, D..."
16,Data Scientist,VISA,3-7 Yrs,Bangalore/Bengaluru
17,Data Scientist: Artificial Intelligence,IBM,10-12 Yrs,Bangalore/Bengaluru
18,Data Scientist: Artificial Intelligence,IBM,11-12 Yrs,Bengaluru/Bangalore
19,Data Scientist: Artificial Intelligence,IBM,11-12 Yrs,Bengaluru/Bangalore

Q3: In this question you have to scrape data using the filters available on the webpage as shown below:
        You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required. The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.

In [98]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
import time

In [99]:
driver=webdriver.Chrome(r"C:\webdriver\Chromedriver.exe")

In [100]:
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [101]:
driver.get("https://www.naukri.com/")

In [102]:
search_field_designation=driver.find_element_by_class_name("suggestor-input ")
search_field_designation.send_keys("Data Scientist")

In [104]:
search_field_designation=driver.find_element_by_class_name("suggestor-input ")
search_field_designation.send_keys("Delhi/NCR")

In [105]:
search_field_location=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input")
search_field_location.send_keys("Delhi/NCR")

In [106]:
search_button=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
search_button.click()

In [107]:
job_titles=[]
company_names=[]
locations=[]
experience_list=[]

In [108]:
titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles_tags[:10]

[<selenium.webdriver.remote.webelement.WebElement (session="fb2bb44ec5252d80507dea1b2c171aa9", element="be29fabc-3462-45c4-9e2c-5de6251bca49")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fb2bb44ec5252d80507dea1b2c171aa9", element="2f5e1149-a22c-4807-97f6-cb276d08862b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fb2bb44ec5252d80507dea1b2c171aa9", element="465c4c5e-0e1e-4612-83c9-94734532ef14")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fb2bb44ec5252d80507dea1b2c171aa9", element="2482f804-8794-43e8-940b-093b7ab10175")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fb2bb44ec5252d80507dea1b2c171aa9", element="dc6379ce-6533-4bee-bab2-ce857ae1c033")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fb2bb44ec5252d80507dea1b2c171aa9", element="a3f520ba-8f72-4eaa-99cf-630d84fa72bf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fb2bb44ec5252d80507dea1b2c171aa9", element="5341ec37-6e43-4532-ac12-261561076ad6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fb2bb44ec5252d80507dea1b2c171aa9", element="dc0a3c02-2654-49b0-bc8f-8bced8789a9c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fb2bb44ec5252d80507dea1b2c171aa9", element="7d8d2607-0f61-4e78-8266-b0e7b2de7b8e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fb2bb44ec5252d80507dea1b2c171aa9", element="5b8647d4-94a7-40ba-893f-26b47864afc2")>]

In [109]:
for i in titles_tags:
    title=i.text
    job_titles.append(title)
job_titles[:10]

['Assistant Manager/Manager/Senior Manager - Data Scientist',
 'Job Opportunity || Data Scientist || HCL Technologies',
 'Data Scientist',
 'Data Scientist / Machine learning Engineer- Python/NLP',
 'Data Scientist/ Sr Data Scientist',
 'Data Scientist/ Analyst Specialist',
 'Data Scientist',
 'Lead Data Scientist',
 'Manager - Data Scientist - Analytics',
 'Senior Data Scientist']

In [110]:
companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies_tags[:10]

[<selenium.webdriver.remote.webelement.WebElement (session="fb2bb44ec5252d80507dea1b2c171aa9", element="b222c9f5-ffde-49ff-a76f-bd7aa5d14ba6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fb2bb44ec5252d80507dea1b2c171aa9", element="5c3f36bb-faf0-4f63-b22d-7e0bb11621c2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fb2bb44ec5252d80507dea1b2c171aa9", element="f100983f-5e40-4a8b-8951-68bdc98dbea3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fb2bb44ec5252d80507dea1b2c171aa9", element="380754e9-ea8c-4a87-a808-0dff9391dfcd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fb2bb44ec5252d80507dea1b2c171aa9", element="f027d6b0-61d9-497a-aa0f-631a3c3da9d8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fb2bb44ec5252d80507dea1b2c171aa9", element="45980642-023c-4826-ac10-dad0c3dbcbcd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fb2bb44ec5252d80507dea1b2c171aa9", element="55c67689-11d3-45bd-a9b6-a000dda331fe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fb2bb44ec5252d80507dea1b2c171aa9", element="0c7a156e-6019-4c02-a828-b65d8dc59f48")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fb2bb44ec5252d80507dea1b2c171aa9", element="cb6eceea-7e41-4270-8749-ff778d2be6d8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fb2bb44ec5252d80507dea1b2c171aa9", element="b01fe125-e8ec-4a17-a045-e7bcdbe685b7")>]

In [111]:
for i in companies_tags:
    company_name=i.text
    company_names.append(company_name)
company_names[:10]

['Huquo Consulting Pvt. Ltd',
 'HCL Technologies',
 'Ericsson',
 'Leading US MNC into Analytics',
 'Connexions',
 'TransOrg Solutions Services (P) Ltd.',
 'Genpact',
 'TransOrg Solutions Services (P) Ltd.',
 'Huquo Consulting Pvt. Ltd',
 'Ocrolus East']

In [112]:
experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
experience_tags[:10]

[<selenium.webdriver.remote.webelement.WebElement (session="fb2bb44ec5252d80507dea1b2c171aa9", element="2a4e7104-3da9-4a7a-aba8-23e6e9b08336")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fb2bb44ec5252d80507dea1b2c171aa9", element="48aeb853-1584-4add-afb6-2f43952941a6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fb2bb44ec5252d80507dea1b2c171aa9", element="c4f45ae6-32b2-4751-be2e-6b3d469b11cf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fb2bb44ec5252d80507dea1b2c171aa9", element="1d50926c-abcd-4ca8-8580-62a8bea0d80f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fb2bb44ec5252d80507dea1b2c171aa9", element="943e270f-8f76-4e60-8501-32d5e9ff6f03")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fb2bb44ec5252d80507dea1b2c171aa9", element="16ec53eb-31dd-4a7e-9ee2-f1ba7cb40998")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fb2bb44ec5252d80507dea1b2c171aa9", element="23851214-2c00-42bd-9063-51981b0bee21")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fb2bb44ec5252d80507dea1b2c171aa9", element="b95a4c0f-85cd-46a1-9609-440016f7bff2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fb2bb44ec5252d80507dea1b2c171aa9", element="308847ab-1548-4f05-9250-d7790f9f431d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fb2bb44ec5252d80507dea1b2c171aa9", element="6b5dec0a-0cf5-4e19-8327-c66bbc49706f")>]

In [113]:
for i in experience_tags:
    experience=i.text
    experience_list.append(experience)
experience_list[:10]

['2-7 Yrs',
 '2-7 Yrs',
 '5-8 Yrs',
 '2-7 Yrs',
 '2-6 Yrs',
 '1-4 Yrs',
 '5-8 Yrs',
 '4-9 Yrs',
 '4-9 Yrs',
 '4-8 Yrs']

In [114]:
locations_tags=driver=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
locations_tags[:10]

[<selenium.webdriver.remote.webelement.WebElement (session="fb2bb44ec5252d80507dea1b2c171aa9", element="3446bdff-e5ef-4185-a4c3-35f6a5404d9c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fb2bb44ec5252d80507dea1b2c171aa9", element="aa4eb30f-e1a6-432d-8fd3-6a443ac4eb20")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fb2bb44ec5252d80507dea1b2c171aa9", element="f7fa5a8f-b130-428d-9d7a-ce8f0c4efd35")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fb2bb44ec5252d80507dea1b2c171aa9", element="de64f09b-ac11-4449-94ee-75d75167886e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fb2bb44ec5252d80507dea1b2c171aa9", element="8a64a8cc-d466-4c32-a4d4-fe3323ca2cea")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fb2bb44ec5252d80507dea1b2c171aa9", element="ebc46d50-6c23-408b-9af3-b2b5f7920b97")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fb2bb44ec5252d80507dea1b2c171aa9", element="35724be8-6b77-4a82-90d7-fd01931cf253")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fb2bb44ec5252d80507dea1b2c171aa9", element="59e59045-6e89-4bc0-a8cc-04f632df15d2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fb2bb44ec5252d80507dea1b2c171aa9", element="718f40f3-08e1-4ca2-8add-d48ff4f4dbda")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fb2bb44ec5252d80507dea1b2c171aa9", element="c57ac4a0-9a76-4040-b2e0-634266ad8174")>]

In [115]:
for i in locations_tags:
    location=i.text
    locations.append(location)
locations[:10]

['Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Delhi / NCR',
 'Noida',
 'Gurgaon/Gurugram, Bangalore/Bengaluru, Delhi / NCR\n(WFH during Covid)',
 'Gurgaon/Gurugram',
 'Noida, New Delhi, Gurgaon/Gurugram, Delhi / NCR, Mumbai (All Areas)',
 'Hyderabad/Secunderabad, Bangalore/Bengaluru, Delhi / NCR',
 'Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)\n(WFH during Covid)',
 'Gurgaon/Gurugram',
 'Gurgaon/Gurugram']

In [116]:
jobs=pd.DataFrame({})
jobs['title']=job_titles
jobs['company']=company_names
jobs['experience_required']=experience_list
jobs['location']=locations

In [117]:
jobs

,title,company,experience_required,location
0,Assistant Manager/Manager/Senior Manager - Dat...,Huquo Consulting Pvt. Ltd,2-7 Yrs,"Gurgaon/Gurugram, Bangalore/Bengaluru"
1,Job Opportunity || Data Scientist || HCL Techn...,HCL Technologies,2-7 Yrs,Delhi / NCR
2,Data Scientist,Ericsson,5-8 Yrs,Noida
3,Data Scientist / Machine learning Engineer- Py...,Leading US MNC into Analytics,2-7 Yrs,"Gurgaon/Gurugram, Bangalore/Bengaluru, Delhi /..."
4,Data Scientist/ Sr Data Scientist,Connexions,2-6 Yrs,Gurgaon/Gurugram
5,Data Scientist/ Analyst Specialist,TransOrg Solutions Services (P) Ltd.,1-4 Yrs,"Noida, New Delhi, Gurgaon/Gurugram, Delhi / NC..."
6,Data Scientist,Genpact,5-8 Yrs,"Hyderabad/Secunderabad, Bangalore/Bengaluru, D..."
7,Lead Data Scientist,TransOrg Solutions Services (P) Ltd.,4-9 Yrs,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ..."
8,Manager - Data Scientist - Analytics,Huquo Consulting Pvt. Ltd,4-9 Yrs,Gurgaon/Gurugram
9,Senior Data Scientist,Ocrolus East,4-8 Yrs,Gurgaon/Gurugram
10,Data Scientist - Internet Jobs - II,Jobs Territory,3-6 Yrs,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ..."
11,Hiring Senior Data Scientist - AI ( Remote) ||...,Hanu Software Solutions,13-20 Yrs,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ..."
12,Data Scientist Opportunity with PayU - Diversi...,PayU,2-7 Yrs,"Gurgaon/Gurugram, Bangalore/Bengaluru, Mumbai ..."
13,Urgent Hiring For AI Data Scientist,Ashkom Media India Private Limited,1-4 Yrs,"New Delhi, Bangalore/Bengaluru, Mumbai (All Ar..."
14,Data Scientist,Ashkom Media India Private Limited,3-6 Yrs,"Noida, Bangalore/Bengaluru"
15,Junior Data Scientist,Snaphunt,2-5 Yrs,Gurgaon/Gurugram
16,Junior Data Scientist,EASY DATA ANALYTICS TECHNOLOGY PRIVATE LIMITED,1-2 Yrs,Noida
17,Assistant Manager/Manager/Senior Manager - Dat...,Huquo Consulting Pvt. Ltd,2-7 Yrs,"Gurgaon/Gurugram, Bangalore/Bengaluru"
18,Data Scientist,GENINVO TECHNOLOGIES PRIVATE LIMITED,5-10 Yrs,"Chandigarh, Delhi / NCR\n(WFH during Covid)"
19,Data Scientist,Pasona,1-3 Yrs,New Delhi

Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price
The attributes which you have to scrape is ticked marked in the below image.
To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url : https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands andmore” is written and click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this pageyou can scrap the required data as usual.
4. After scraping data from the first page, go to the “Next” Button at the bottom ofthe page , then click on it.
5. Now scrape data from this page as usual
6. Repeat this until you get data for 100 sunglasses.
Note: That all of the above steps have to be done by coding only and not manually.

In [118]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
import time

In [119]:
driver=webdriver.Chrome(r"C:\webdriver\Chromedriver.exe")

In [120]:
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [121]:
driver.get("https://www.flipkart.com/")

In [124]:
search_bar=driver.find_element_by_xpath("//input[@type='text']")
search_bar.send_keys('sunglasses')

In [125]:
driver.find_element_by_xpath("//button[@type='submit']").click()

In [126]:
url="https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off"
driver.get(url)

In [127]:
brand=[]
prod_desc=[]
org_price=[]
discount=[]
disc_price=[]

for i in range(0,3):
    for j in driver.find_elements_by_xpath("//div[@class='_2WkVRV']"):
        brand.append(j.text)
    for j in driver.find_elements_by_xpath("//a[@class='IRpwTa']"):
        prod_desc.append(j.text)
    for j in driver.find_elements_by_xpath("//div[@class='_3I9_wc']"):
        org_price.append(j.text)
    for j in driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span"):
        discount.append(j.text)
    for j in driver.find_elements_by_xpath("//div[@class='_30jeq3']"):
        disc_price.append(j.text)
   
    k=i+1
    next_page="https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page="+str(k)
    driver.get(next_page)
    time.sleep(2)

In [128]:
print(len(brand),len(prod_desc),len(org_price),len(discount),len(disc_price))

glass=pd.DataFrame({})
glass['Brand']=brand[:100]
glass['Description']=prod_desc[:100]
glass['Original Price']=org_price[:100]
glass['Discount']=discount[:100]
glass['Discounted Price']=disc_price[:100]
glass

120 120 120 120 120

,Brand,Description,Original Price,Discount,Discounted Price
0,VINCENT CHASE,UV Protection Rectangular Sunglasses (50),"₹1,999",67% off,₹649
1,VINCENT CHASE,UV Protection Cat-eye Sunglasses (54),"₹1,999",67% off,₹649
2,Elligator,UV Protection Round Sunglasses (54),"₹2,495",88% off,₹295
3,DAHAAZIL,"UV Protection, Night Vision, Riding Glasses Wa...",₹999,78% off,₹219
4,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹899,28% off,₹647
...,...,...,...,...,...
95,VINCENT CHASE,UV Protection Cat-eye Sunglasses (54),"₹1,999",67% off,₹649
96,GANSTA,UV Protection Rectangular Sunglasses (60),"₹1,299",82% off,₹224
97,ROYAL SON,Mirrored Aviator Sunglasses (55),"₹1,499",73% off,₹399
98,Elligator,UV Protection Round Sunglasses (53),₹998,75% off,₹244
99,Resist,"UV Protection, Riding Glasses, Toughened Glass...","₹1,999",56% off,₹864

Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-power- adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC TSVZAXUHGREPBFGI&marketplace.
When you will open the above link you will reach to the below shown webpage .
As shown in the above page you have to scrape the tick marked attributes.These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100 reviews.
Note: All the steps required during scraping should be done through code only and not manually.
Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com andsearch for “sneakers” in the search field.
You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price
As shown in the below image, you have to scrape the tick marked attributes.
Note: All the steps required during scraping should be done through code only and not manually.

In [129]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
import time

In [130]:
driver=webdriver.Chrome(r"C:\webdriver\Chromedriver.exe")

In [131]:
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [153]:
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-power- adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC TSVZAXUHGREPBFGI&marketplace.")

In [154]:
all_button=driver.find_element_by_xpath("//div[@class='_3UAT2v _16PBlm']")
all_button.click()

In [155]:
rating=[]
short_review=[]
full_review=[]
for i in range(1,11):
    for a in driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]"):# ratings
        rating.append(a.text.split("\n")[0])
    for b in driver.find_elements_by_xpath("//p[@class='_2-N8zT']"): #short_review
        short_review.append(b.text)
    for c in driver.find_elements_by_xpath("//div[@class='t-ZTKy']"): # full review
        full_review.append(c.text.replace("\n"," "))
    time.sleep(3)   
    url=""+str(i)
    driver.get(url)
    time.sleep(3)

In [158]:
print(len(rating),len(short_review),len(full_review))

90 90 90

In [157]:
iphone_df=pd.DataFrame({})
iphone_df['Rating']=rating
iphone_df[' Review summary']=short_review
iphone_df[' Full review']=full_review
iphone_df

,Rating,Review summary,Full review
0,5,Brilliant,The Best Phone for the Money The iPhone 11 of...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Perfect product!,Amazing phone with great cameras and better ba...
4,5,Fabulous!,This is my first iOS phone. I am very happy wi...
...,...,...,...
85,5,Super!,Did an upgrade from 6s plus to iphone 11. Ao f...
86,5,Classy product,Gifted my man on his 30th birthday 🎂 He loves ...
87,5,Worth every penny,Here is the thing The only reason why you sho...
88,5,Excellent,It was amazing experience for me. Honestly i a...
89,4,Nice product,If you are looking for a premium phone under 5...

Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com andsearch for “sneakers” in the search field.
You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price
As shown in the below image, you have to scrape the tick marked attributes.
Note: All the steps required during scraping should be done through code only and not manually.

In [160]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
import time

In [163]:
driver=webdriver.Chrome(r"C:\webdriver\Chromedriver.exe")

In [164]:
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [165]:
driver.get("https://www.flipkart.com/")

In [166]:
search_bar=driver.find_element_by_name("q")
search_bar.send_keys("sneakers")
click_button=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
click_button.click()

In [167]:
brand_list=[]
description_list=[]
discount_list=[]
price_list=[]


for i in range(1,4):
    for p in driver.find_elements_by_xpath("//div[@class='_2WkVRV']"):
        brand_list.append(p.text)
    for q in driver.find_elements_by_xpath("//div[@class='_2B099V']/a"): 
        if q.text is None:
            description_list.append('--')  
        else:
            description_list.append(q.text)
    for r in driver.find_elements_by_xpath("//div[@class='_30jeq3']"):
        price_list.append(r.text)
    for s in driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']"):
        if s.text is None:
            discount_list.append("--")
        else:    
            discount_list.append(s.text)
    time.sleep(3)    
   
    url = 'https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page='+str(i)
    driver.get(url)

In [168]:
print(len(brand_list),len(description_list),len(discount_list),len(price_list))

120 240 118 120

In [169]:
count=0
desc_list=[]
while count<len(description_list):
    desc_list.append(description_list[count])
    count=count+2
desc_list[0:4]

['Sneakers For Men',
 'Sneakers For Men',
 'Sneakers Sneakers For Men',
 'Canvas shoes for Men Sneakers For Men']

In [170]:
df=pd.DataFrame({})
df['Brand']=brand_list[0:100]
df['Description']=desc_list[0:100]
df['Price']=price_list[0:100]
df['Discount']=discount_list[0:100]
df

,Brand,Description,Price,Discount
0,Robbie jones,Sneakers For Men,₹424,57% off
1,Hotmess,Sneakers For Men,₹182,63% off
2,URBANBOX,Sneakers Sneakers For Men,₹158,84% off
3,BRUTON,Canvas shoes for Men Sneakers For Men,₹299,76% off
4,KWIK FIT,Kwik FIT casual sneaker shoes and partywear sh...,₹349,82% off
...,...,...,...,...
95,AIRBELL,"white sports shoes , running shoes for men Run...",₹640,65% off
96,ZF Klub,6616-ZF-BLACK-08 Sneakers For Men,₹349,40% off
97,Shoes Bank,White Sneaker For Men's/Boy's Sneakers For Men,₹348,46% off
98,Hida,Sneakers For Men,₹599,58% off
99,CALCADOS,Perfect Grip Combo pack Of 2 Sneakers For Men,₹539,62% off

Q7: Go to the link - https://www.myntra.com/shoes
Set Price filter to “Rs. 7149 to Rs. 14099 ” , Color filter to “Black”, as shown inthe below image.
And then scrape First 100 shoes data you get.
And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price of the shoe as shown in the below image.
Note: Applying the filter and scraping the data, everything should be done through code only and there should not be any manual step.

In [171]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
import time

In [172]:
driver=webdriver.Chrome(r"C:\webdriver\Chromedriver.exe")

In [173]:
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [174]:
driver.get("https://www.myntra.com/shoes")

In [175]:
color_filter=driver.find_element_by_xpath("//div[@class='product-price']")
color_filter.click()

In [176]:
brand=[]
description=[]
price=[]

for i in range(0,2):
    
    for x in driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']/h3"):
            brand.append(x.text)
    
  
    for y in driver.find_elements_by_xpath("//h4[@class='product-product']"):
        description.append(y.text)
        
   
    for z in driver.find_elements_by_xpath("//div[@class='product-price']"):
        price.append(z.text.split(".")[1].replace("Rs",""))
    time.sleep(5)
    
   
    
    next_button=driver.find_element_by_xpath("//li[@class='pagination-next']")
    next_button.click()
    time.sleep(3)

In [177]:
print(len(price),len(description),len(brand))

100 100 100

In [178]:
shoe_df=pd.DataFrame({})
shoe_df['Brand']=brand
shoe_df['Description']=description
shoe_df['Price in Rupees']=price
shoe_df

              Brand                 Description Price in Rupees
0              Nike                                       10295
1              Nike  Men Winflo 7 Running Shoes            7195
2              ALDO  Men Colourblocked Sneakers            9999
3              ALDO                  Men Derbys            8999
4              ALDO        Men Slip-On Sneakers           10999
..              ...                         ...             ...
95  PUMA Motorsport     Men ZenonSpeed Sneakers            7649
96             Puma  Men Glory Premium Sneakers            9599
97          Bugatti   Men Leather Driving Shoes            8499
98             Puma     Unisex Leather Trainers            7999
99          Bugatti       Men Textured Sneakers            9999

[100 rows x 3 columns]

Q8: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the below image:
    After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:
1. Title
2. Ratings
3. Price
As shown in the below image as the tick marked attributes.
Note: All the steps required during scraping should be done through code only and not manually.

In [179]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
import time

In [180]:
driver=webdriver.Chrome(r"C:\webdriver\Chromedriver.exe")

In [181]:
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [182]:
driver.get("https://www.amazon.in/")

In [183]:
search_product=driver.find_element_by_id("twotabsearchtextbox")
search_product.send_keys("laptop")


search_button=driver.find_element_by_id("nav-search-submit-button")
search_button.click()

In [184]:
core7=driver.find_element_by_xpath("//li[@id='p_n_feature_thirteen_browse-bin/12598163031']/span/a/span")
core7.click()