# WEB SCRAPING – ASSIGNMENT 4

In [1]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException, ElementNotInteractableException

1.Scrape the details of most viewed videos on YouTube from Wikipedia:

Url= https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos

You need to find following details:

A) Rank

B) Name

C) Artist

D) Upload date

E) Views

In [2]:
driver=webdriver.Chrome(r"C:\webdriver\Chromedriver.exe")

In [3]:
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [4]:
Rank=[]
Name=[]
Artist=[]
Views=[]
Upload_Date=[]

rank=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[1]")
for i in rank[:30]:
    Rank.append(i.text)
    
video=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[2]")
for i in video[:30]:
    Name.append(i.text)
    
artist=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[3]")
for i in artist[:30]:
    Artist.append(i.text)
    
views=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[4]")
for i in views[:30]:
    Views.append(i.text)
    
date=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[5]")
for i in date[:30]:
    Upload_Date.append(i.text)

In [5]:
Yt_data=pd.DataFrame({})
Yt_data['Rank']=Rank
Yt_data['Video Name']=Name
Yt_data['Artist']=Artist
Yt_data['Views(Billions)']=Views
Yt_data['Upload Date']=Upload_Date
Yt_data

,Rank,Video Name,Artist,Views(Billions),Upload Date
0,1.,"""Baby Shark Dance""[22]",Pinkfong Kids' Songs & Stories,8.44,"June 17, 2016"
1,2.,"""Despacito""[24]",Luis Fonsi,7.32,"January 12, 2017"
2,3.,"""Shape of You""[25]",Ed Sheeran,5.29,"January 30, 2017"
3,4.,"""Johny Johny Yes Papa""[26]",LooLoo Kids,5.24,"October 8, 2016"
4,5.,"""See You Again""[27]",Wiz Khalifa,5.08,"April 6, 2015"
5,6.,"""Masha and the Bear – Recipe for Disaster""[30]",Get Movies,4.43,"January 31, 2012"
6,7.,"""Uptown Funk""[31]",Mark Ronson,4.16,"November 19, 2014"
7,8.,"""Gangnam Style""[32]",Psy,4.05,"July 15, 2012"
8,9.,"""Learning Colors – Colorful Eggs on a Farm""[34]",Miroshka TV,3.97,"February 27, 2018"
9,10.,"""Bath Song""[35]",Cocomelon – Nursery Rhymes,3.95,"May 2, 2018"
10,11.,"""Phonics Song with Two Words""[36]",ChuChu TV,3.78,"March 6, 2014"
11,12.,"""Sugar""[37]",Maroon 5,3.45,"January 14, 2015"
12,13.,"""Sorry""[38]",Justin Bieber,3.43,"October 22, 2015"
13,14.,"""Roar""[39]",Katy Perry,3.34,"September 5, 2013"
14,15.,"""Dame Tu Cosita""[40]",El Chombo,3.28,"April 5, 2018"
15,16.,"""Counting Stars""[41]",OneRepublic,3.27,"May 31, 2013"
16,17.,"""Thinking Out Loud""[42]",Ed Sheeran,3.24,"October 7, 2014"
17,18.,"""Dark Horse""[43]",Katy Perry,3.05,"February 20, 2014"
18,19.,"""Faded""[44]",Alan Walker,3.05,"December 3, 2015"
19,20.,"""Shake It Off""[45]",Taylor Swift,3.05,"August 18, 2014"
20,21.,"""Lean On""[46]",Major Lazer Official,3.02,"March 22, 2015"
21,22.,"""Bailando""[47]",Enrique Iglesias,3.01,"April 11, 2014"
22,23.,"""Girls Like You""[48]",Maroon 5,3.01,"May 31, 2018"
23,24.,"""Let Her Go""[49]",Passenger,2.97,"July 25, 2012"
24,25.,"""Mi Gente""[50]",J Balvin,2.90,"June 29, 2017"
25,26.,"""Wheels on the Bus""[51]",Cocomelon – Nursery Rhymes,2.89,"May 24, 2018"
26,27.,"""Hello""[52]",Adele,2.83,"October 22, 2015"
27,28.,"""Perfect""[53]",Ed Sheeran,2.82,"November 9, 2017"
28,29.,"""Waka Waka (This Time for Africa)""[54]",Shakira,2.80,"June 4, 2010"
29,30.,"""Axel F""[55]",Crazy Frog,2.77,"June 16, 2009"

In [6]:
new=Yt_data["Video Name"].str.split("[", n = 1, expand = True) 
new

                                              0    1
0                            "Baby Shark Dance"  22]
1                                   "Despacito"  24]
2                                "Shape of You"  25]
3                        "Johny Johny Yes Papa"  26]
4                               "See You Again"  27]
5    "Masha and the Bear – Recipe for Disaster"  30]
6                                 "Uptown Funk"  31]
7                               "Gangnam Style"  32]
8   "Learning Colors – Colorful Eggs on a Farm"  34]
9                                   "Bath Song"  35]
10                "Phonics Song with Two Words"  36]
11                                      "Sugar"  37]
12                                      "Sorry"  38]
13                                       "Roar"  39]
14                             "Dame Tu Cosita"  40]
15                             "Counting Stars"  41]
16                          "Thinking Out Loud"  42]
17                                 "Dark Horse"  43]
18                                      "Faded"  44]
19                               "Shake It Off"  45]
20                                    "Lean On"  46]
21                                   "Bailando"  47]
22                             "Girls Like You"  48]
23                                 "Let Her Go"  49]
24                                   "Mi Gente"  50]
25                          "Wheels on the Bus"  51]
26                                      "Hello"  52]
27                                    "Perfect"  53]
28           "Waka Waka (This Time for Africa)"  54]
29                                     "Axel F"  55]

In [7]:
Yt_data.drop(columns=['Video Name'],axis=1,inplace=True)

Yt_data.insert(1,"Video Name",new[0])

Yt_data

,Rank,Video Name,Artist,Views(Billions),Upload Date
0,1.,"""Baby Shark Dance""",Pinkfong Kids' Songs & Stories,8.44,"June 17, 2016"
1,2.,"""Despacito""",Luis Fonsi,7.32,"January 12, 2017"
2,3.,"""Shape of You""",Ed Sheeran,5.29,"January 30, 2017"
3,4.,"""Johny Johny Yes Papa""",LooLoo Kids,5.24,"October 8, 2016"
4,5.,"""See You Again""",Wiz Khalifa,5.08,"April 6, 2015"
5,6.,"""Masha and the Bear – Recipe for Disaster""",Get Movies,4.43,"January 31, 2012"
6,7.,"""Uptown Funk""",Mark Ronson,4.16,"November 19, 2014"
7,8.,"""Gangnam Style""",Psy,4.05,"July 15, 2012"
8,9.,"""Learning Colors – Colorful Eggs on a Farm""",Miroshka TV,3.97,"February 27, 2018"
9,10.,"""Bath Song""",Cocomelon – Nursery Rhymes,3.95,"May 2, 2018"
10,11.,"""Phonics Song with Two Words""",ChuChu TV,3.78,"March 6, 2014"
11,12.,"""Sugar""",Maroon 5,3.45,"January 14, 2015"
12,13.,"""Sorry""",Justin Bieber,3.43,"October 22, 2015"
13,14.,"""Roar""",Katy Perry,3.34,"September 5, 2013"
14,15.,"""Dame Tu Cosita""",El Chombo,3.28,"April 5, 2018"
15,16.,"""Counting Stars""",OneRepublic,3.27,"May 31, 2013"
16,17.,"""Thinking Out Loud""",Ed Sheeran,3.24,"October 7, 2014"
17,18.,"""Dark Horse""",Katy Perry,3.05,"February 20, 2014"
18,19.,"""Faded""",Alan Walker,3.05,"December 3, 2015"
19,20.,"""Shake It Off""",Taylor Swift,3.05,"August 18, 2014"
20,21.,"""Lean On""",Major Lazer Official,3.02,"March 22, 2015"
21,22.,"""Bailando""",Enrique Iglesias,3.01,"April 11, 2014"
22,23.,"""Girls Like You""",Maroon 5,3.01,"May 31, 2018"
23,24.,"""Let Her Go""",Passenger,2.97,"July 25, 2012"
24,25.,"""Mi Gente""",J Balvin,2.90,"June 29, 2017"
25,26.,"""Wheels on the Bus""",Cocomelon – Nursery Rhymes,2.89,"May 24, 2018"
26,27.,"""Hello""",Adele,2.83,"October 22, 2015"
27,28.,"""Perfect""",Ed Sheeran,2.82,"November 9, 2017"
28,29.,"""Waka Waka (This Time for Africa)""",Shakira,2.80,"June 4, 2010"
29,30.,"""Axel F""",Crazy Frog,2.77,"June 16, 2009"

In [8]:
driver.close()

2.Scrape the details team India’s international fixtures from bcci.tv.

Url = https://www.bcci.tv/

You need to find following details:

A) Match title (I.e. 1st ODI)

B) Series

C) Place

D) Date

E) Time

Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [9]:
driver=webdriver.Chrome(r"C:\webdriver\Chromedriver.exe")

In [10]:
driver.get('https://www.bcci.tv/')

In [11]:
international=driver.find_element_by_xpath("//ul[@class='navigation__list showMoreEnabled']/li[1]/div[2]/div/ul/li[1]/a")
driver.get(international.get_attribute('href'))

In [12]:
Match=[]
Series=[]
Place=[]
Date=[]
Time=[]

name=driver.find_elements_by_xpath("//strong[@class='fixture__name fixture__name--with-margin']")
for i in name:
    Match.append(i.text)

series=driver.find_elements_by_xpath("//div[@class='fixture__format-strip']/span[2]")
for i in series:
    Series.append(i.text)
    
place=driver.find_elements_by_xpath("//p[@class='fixture__additional-info']/span")
for i in place:
    Place.append(i.text)
    
date=driver.find_elements_by_xpath("//div[@class='fixture__datetime desktop-only']/div/span")  
month=driver.find_elements_by_xpath("//div[@class='fixture__datetime desktop-only']/div/div/span[1]")  
for i in range(len(date)):
    Date.append(date[i].text + month[i].text)  
    
time=driver.find_elements_by_xpath("//div[@class='fixture__full-date']/div/span[2]")
for i in time:
    Time.append(i.text)

In [13]:
fixtures=pd.DataFrame({})
fixtures['Match name']=Match
fixtures['Series']=Series
fixtures['Place']=Place
fixtures['Date']=Date
fixtures['Time']=Time
fixtures

,Match name,Series,Place,Date,Time
0,Final,ICC WORLD TEST CHAMPIONSHIP FINAL,"The Ageas Bowl, Southampton",18JUNE,15:30 IST
1,1st Test,ENGLAND V INDIA 2021,"Trent Bridge, Nottingham",04AUGUST,15:30 IST
2,2nd Test,ENGLAND V INDIA 2021,"Lord's, London",12AUGUST,15:30 IST
3,3rd Test,ENGLAND V INDIA 2021,"Headingley, Leeds",25AUGUST,15:30 IST
4,4th Test,ENGLAND V INDIA 2021,"The Oval, London",02SEPTEMBER,15:30 IST
5,5th Test,ENGLAND V INDIA 2021,"Old Trafford, Manchester",10SEPTEMBER,15:30 IST

In [14]:
driver.close()

3.Scrape the details of selenium exception from guru99.com.

Url = https://www.guru99.com/

You need to find following details:

A) Name

B) Description

Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [15]:
driver=webdriver.Chrome(r"C:\webdriver\Chromedriver.exe")

In [16]:
driver.get('https://www.guru99.com/')

In [17]:
driver.find_element_by_xpath("//div[@class='srch']/span[8]/a").click()

driver.find_element_by_xpath("//table[@class='table']/tbody/tr[34]/td/a").click()

In [18]:
Name=[]
Description=[]

name=driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[1]")
for i in name:
    Name.append(i.text)
    
desc=driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[2]")
for i in desc:
    Description.append(i.text)
    
print(len(Name),len(Description))

42 42

In [19]:
guru99=pd.DataFrame({})
guru99['Exception Name']=Name[1:]
guru99['Description']=Description[1:]
guru99

,Exception Name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can't be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n't sen...

In [20]:
driver.close()

5.Scrape the details of trending repositories on Github.com.

Url = https://github.com/

You have to find the following details:

A) Repository title

B) Repository description

C) Contributors count

D) Language used

Note: - From the home page you have to click on the trending option from Explore menu through code.

In [28]:
driver=webdriver.Chrome(r"C:\webdriver\Chromedriver.exe")

In [29]:
driver.get('https://github.com/')

In [30]:
trending=driver.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul[2]/li[3]/a")
try:
    trending.click()
except ElementNotInteractableException as e:
    driver.get(trending.get_attribute('href'))

In [31]:
rep_title=[]
rep_desc=[]
Count=[]
Lang=[]

title=driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']/a")
for i in title:
    rep_title.append(i.text)
    
desc=driver.find_elements_by_xpath("//p[@class='col-9 color-text-secondary my-1 pr-4']")
for i in desc:
    rep_desc.append(i.text)
    
count=driver.find_elements_by_xpath("//div[@class='f6 color-text-secondary mt-2']/a[2]")
for i in count:
    Count.append(i.text)
    
lang=driver.find_elements_by_xpath("//span[@class='d-inline-block ml-0 mr-3']")
for i in lang:
    if i.text is None:
        Lang.append('Not Available')
    else:
        Lang.append(i.text)

In [32]:
print(len(rep_title),len(rep_desc),len(Count),len(Lang))

25 24 25 21

In [33]:
github=pd.DataFrame({})
github['Repository title']=rep_title[:21]
github['Description']=rep_desc[:21]
github['Contributors count']=Count[:21]
github['Language used']=Lang
github

,Repository title,Description,Contributors count,Language used
0,abuanwar072 / Flutter-Responsive-Admin-Panel-o...,Responsive Admin Panel or Dashboard using Flutter,105,Dart
1,pallupz / covid-vaccine-booking,This very basic script can be used to automate...,67,Python
2,goharbor / harbor,An open source trusted cloud native registry p...,"3,682",Go
3,public-apis / public-apis,A collective list of free APIs,"14,943",Python
4,jwasham / coding-interview-university,A complete computer science study plan to beco...,"46,155",Python
5,DIGITALCRIMINAL / OnlyFans,Scrape all the media from an OnlyFans account ...,221,Python
6,facebookincubator / cinder,Instagram's performance oriented fork of CPython.,18,Python
7,vinta / awesome-python,"A curated list of awesome Python frameworks, l...","18,902",C++
8,jlevy / the-art-of-command-line,"Master the command line, in one page","9,772",HTML
9,dogecoin / dogecoin,very currency,"1,515",C
10,phamdinhkhanh / vnquant,VietNam Data Stock Market Price,65,TypeScript
11,audacity / audacity,Audio Editor,959,Python
12,Uniswap / uniswap-v3-periphery,🦄 🦄 🦄 Peripheral smart contracts for interacti...,66,Dart
13,swar / Swar-Chia-Plot-Manager,This is a Cross-Platform Plot Manager for Chia...,30,TypeScript
14,flutter / flutter,Flutter makes it easy and fast to build beauti...,"17,045",Ruby
15,streamich / react-use,React Hooks — 👍,"1,564",Python
16,dynamicwebpaige / thinking-in-data,A VS Code extension pack to help users visuali...,11,TypeScript
17,forem / forem,For empowering community 🌱,"2,846",TypeScript
18,Azure / counterfit,a CLI that provides a generic automation layer...,18,PHP
19,Uniswap / uniswap-v3-core,🦄 🦄 🦄 Core smart contracts of Uniswap v3,139,TypeScript
20,ionic-team / ionic-framework,A powerful cross-platform UI toolkit for build...,"13,383",TypeScript

In [34]:
driver.close()

6.Scrape the details of top 100 songs on billiboard.com.

Url = https://www.billboard.com/

You have to find the following details:

A) Song name

B) Artist name

C) Last week rank

D) Peak rank

E) Weeks on board

Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [35]:
driver=webdriver.Chrome(r"C:\webdriver\Chromedriver.exe")

In [36]:
driver.get('https://www.billboard.com/')

In [37]:
hot_100=driver.find_element_by_xpath("//nav[@class='header__subnav bg--light']/ul/li[3]/a")
try:
    hot_100.click()
except ElementNotInteractableException:
    driver.get(hot_100.get_attribute('href'))

In [38]:
Song=[]
Artist=[]
Lastweek=[]
Peak=[]
Weeks_on_board=[]

song=driver.find_elements_by_xpath("//span[@class='chart-element__information__song text--truncate color--primary']")
for i in song:
    Song.append(i.text)
    
artist=driver.find_elements_by_xpath("//span[@class='chart-element__information__artist text--truncate color--secondary']")
for i in artist:
    Artist.append(i.text)
    
last_week=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--last']")
for i in last_week:
    if i.text is None:
        Lastweek.append('-')
    else:
        Lastweek.append(i.text)
        
peak=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--peak']")
for i in peak:
    if i.text is None:
        Peak.append('-')
    else:
        Peak.append(i.text)
        
weeks=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--week']")
for i in weeks:
    if i.text is None:
        Weeks_on_board.append('-')
    else:
        Weeks_on_board.append(i.text)

In [39]:
billboard=pd.DataFrame({'Song':Song,'Artist':Artist,'Last week Rank':Lastweek,'Peak Rank':Peak,'Weeks on board':Weeks_on_board})
billboard

,Song,Artist,Last week Rank,Peak Rank,Weeks on board
0,Save Your Tears,The Weeknd & Ariana Grande,6,1,20
1,Leave The Door Open,Silk Sonic (Bruno Mars & Anderson .Paak),2,1,8
2,Peaches,Justin Bieber Featuring Daniel Caesar & Giveon,3,1,6
3,Rapstar,Polo G,1,1,3
4,Levitating,Dua Lipa Featuring DaBaby,5,5,30
...,...,...,...,...,...
95,4 Da Gang,42 Dugg & Roddy Ricch,100,67,4
96,Blame It On You,Jason Aldean,-,97,1
97,Wasted On You,Morgan Wallen,92,9,16
98,Way Less Sad,AJR,-,99,1
99,Clear Da Air,Moneybagg Yo,-,100,1

In [40]:
driver.close()

7.Scrape the details of Data science recruiters from naukri.com.

Url = https://www.naukri.com/

You have to find the following details:

A) Name

B) Designation

C) Company

D) Skills they hire for

E) Location

Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and click on search. All this should be done through code

In [41]:
driver=webdriver.Chrome(r"C:\webdriver\Chromedriver.exe")

In [42]:
driver.get('https://www.naukri.com/')

In [43]:
recruit=driver.find_element_by_xpath("//ul[@class='midSec menu']/li[2]/a")
driver.get(recruit.get_attribute('href'))

In [44]:
search_job=driver.find_element_by_xpath("//input[@class='sugInp']")
search_job.send_keys('Data science')  

driver.find_element_by_xpath("//button[@class='fl qsbSrch blueBtn']").click()

In [45]:
Name=[]
Designation=[]
Company=[]
Skills=[]
Location=[]

name=driver.find_elements_by_xpath("//span[@class='fl ellipsis']")
for i in name:
    Name.append(i.text)
    
desc=driver.find_elements_by_xpath("//span[@class='ellipsis clr']")
for i in desc:
    Designation.append(i.text)
    
company=driver.find_elements_by_xpath("//p[@class='highlightable']/a[2]")
for i in company:
    Company.append(i.text)
    
skills=driver.find_elements_by_xpath("//div[@class='hireSec highlightable']")
for i in skills:
    Skills.append(i.text)
    
location=driver.find_elements_by_xpath("//small[@class='ellipsis']")
for i in location:
    Location.append(i.text)

In [46]:
print(len(Name),len(Designation),len(Company),len(Skills),len(Location))

50 50 50 50 48

In [47]:
naukri=pd.DataFrame({})
naukri['Name']=Name[:48]
naukri['Designation']=Designation[:48]
naukri['Company']=Company[:48]
naukri['Skills']=Skills[:48]
naukri['Location']=Location
naukri

,Name,Designation,Company,Skills,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,Talent Acquisition Executive,Recruitment Professional,XenonStack,"Web Designing, html5, Angular.js, seo, hadoop,...",Chandigarh
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
5,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
6,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
7,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
8,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
9,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
10,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
11,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
12,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
13,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
14,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Nagpur
15,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
16,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
17,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",Bengaluru / Bangalore
18,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
19,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
20,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
21,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
22,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
23,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
24,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
25,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
26,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
27,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
28,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",Delhi
29,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Bengaluru / Bangalore
30,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ...",Mysoru / Mysore
31,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Hyderabad / Secunderabad
32,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,"Data Science, Machine Learning, Big Data Analy...",Noida
33,Prateek Kumar,Head,Trisect,"Java, Python, Angularjs, Software Testing, Mac...",New Delhi
34,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",Chennai
35,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Aligarh
36,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Salt Lake City
37,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Pune
38,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Bengaluru / Bangalore
39,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Mumbai
40,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Indore
41,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Bengaluru / Bangalore
42,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",MYSORE
43,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",Hyderabad / Secunderabad
44,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Bengaluru / Bangalore
45,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Mumbai
46,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Noida
47,Amir Chowdhury,Managing Partner,Granular.ai,"Machine Learning, Data Science, Product Manage...",Mumbai

In [48]:
driver.close()

8.Scrape the details of Highest selling novels.

Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/

You have to find the following details:

A) Book name

B) Author name

C) Volumes sold

D) Publisher

E) Genre

In [49]:
driver=webdriver.Chrome(r"C:\webdriver\Chromedriver.exe")

In [50]:
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/')

In [51]:
Book=[]
Author=[]
Volume=[]
Publisher=[]
Genre=[]

book=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[2]")
for i in book:
    Book.append(i.text)
    
author=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[3]")
for i in author:
    Author.append(i.text)
    
volume=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[4]")
for i in volume:
    Volume.append(i.text)

publisher=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[5]")
for i in publisher:
    Publisher.append(i.text)
    
genre=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[6]")
for i in genre:
    Genre.append(i.text)

In [52]:
novels=pd.DataFrame({})
novels['Book']=Book
novels['Author']=Author
novels['Volumes sold']=Volume
novels['Publisher']=Publisher
novels['Genre']=Genre
novels

,Book,Author,Volumes sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [53]:
driver.close()

9.Scrape the details most watched tv series of all time from imdb.com.

Url = https://www.imdb.com/list/ls095964455/

You have to find the following details:

A) Name

B) Year span

C) Genre

D) Run time

E) Ratings

F) Votes

In [54]:
driver=webdriver.Chrome(r"C:\webdriver\Chromedriver.exe")

In [55]:
driver.get('https://www.imdb.com/list/ls095964455/')

In [56]:
Name=[]
Year=[]
Genre=[]
Runtime=[]
Rating=[]
Vote=[]

name=driver.find_elements_by_xpath("//h3[@class='lister-item-header']/a")
for i in name:
    Name.append(i.text)
    
year=driver.find_elements_by_xpath("//span[@class='lister-item-year text-muted unbold']")
for i in year:
    Year.append(i.text)
    
genre=driver.find_elements_by_xpath("//span[@class='genre']")
for i in genre:
    Genre.append(i.text)
    
runtime=driver.find_elements_by_xpath("//span[@class='runtime']")
for i in runtime:
    Runtime.append(i.text)
    
rating=driver.find_elements_by_xpath("//div[@class='ipl-rating-star small']")
for i in rating:
    Rating.append(i.text)
    
votes=driver.find_elements_by_xpath("//span[@name='nv']")
for i in votes:
    Vote.append(i.text)

In [57]:
IMDB=pd.DataFrame({'Name':Name,'Year span':Year,'Genre':Genre,'Runtime':Runtime,'Rating':Rating,'Votes':Vote})
IMDB

,Name,Year span,Genre,Runtime,Rating,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.3,"1,802,840"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"847,917"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"867,968"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,"260,276"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"221,258"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"44,220"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"54,682"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"165,514"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.2,"34,589"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"188,226"

In [58]:
driver.close()

10.Details of Datasets from UCI machine learning repositories.

Url = https://archive.ics.uci.edu/

You have to find the following details:

A) Dataset name

B) Data type

C) Task

D) Attribute type

E) No of instances

F) No of attribute

G) Year

Note: - from the home page you have to go to the Show All Dataset page through code.

In [59]:
driver=webdriver.Chrome(r"C:\webdriver\Chromedriver.exe")

In [60]:
driver.get('https://archive.ics.uci.edu/')

In [61]:
datasets=driver.find_element_by_xpath("/html/body/table[1]/tbody/tr/td[2]/span[2]/a/font/b")
try:
    datasets.click()
except ElementNotInteractableException:
    driver.get(datasets.get_attribute('href'))

In [62]:
Name=[]
Type=[]
Task=[]
Attribute=[]
No_of_Instance=[]
No_of_Attribute=[]
Year=[]

try:
    names=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[1]/table/tbody/tr/td[2]/p/b/a")
    for i in names:
        Name.append(i.text)
except NoSuchElementException:
    Name.append('-')
    
try:
    types=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]")
    for i in types[1:]:
        Type.append(i.text)
except NoSuchElementException:
    Type.append('-')
    
try:
    task=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]")
    for i in task[1:]:
        Task.append(i.text)
except NoSuchElementException:
    Task.append('-')
        
try:
    attribute=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]")
    for i in attribute[1:]:
        Attribute.append(i.text)
except NoSuchElementException:
    Attribute.append('-')
        
try:
    instance=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]")
    for i in instance[1:]:
        No_of_Instance.append(i.text)
except NoSuchElementException:
    No_of_Instance.append('-')
        
try:
    attribute_no=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]")
    for i in attribute_no[1:]:
        No_of_Attribute.append(i.text)
except NoSuchElementException:
    No_of_Attribute.append('-')
        
try:
    year=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]")
    for i in year[1:]:
        Year.append(i.text)
except NoSuchElementException:
    Year.append('-')

In [63]:
df=pd.DataFrame({"Name":Name,"Data types":Type,"Default Task":Task,"Attribute types":Attribute, 
                 "No of instances":No_of_Instance,"No of atrributes":No_of_Attribute,"Year":Year})
df

,Name,Data types,Default Task,Attribute types,No of instances,No of atrributes,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
583,in-vehicle coupon recommendation,Multivariate,Classification,,12684,23,2020
584,Gait Classification,Multivariate,Classification,Real,48,321,2020
585,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
586,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
587,Synchronous Machine Data Set,Multivariate,Regression,Real,557,5,2021

In [64]:
driver.close()